DB__USER=ur-DB_NAME
DB__PASSWORD=ur-DB_PASSWORD
DB__HOST=ur-DB_HOST
DB__PORT=ur-DB_PORT
DB__NAME=ur-DB_SCHEMA

AUTH__SECRET_KEY=ur-JWT_SECRET_KEY
AUTH__ACCESS_COOKIE_NAME=ur-JWT_ACCESS_COOKIE_NAME
AUTH__REFRESH_COOKIE_NAME=ur-JWT_REFRESH_COOKIE_NAME

REDIS__HOST=ur-REDIS_HOST
REDIS__PORT=ur-REDIS_PORT
REDIS__NAME=0

PRIVATE__OPENROUTER_API_KEY=ur-KEY

BOT__MAIL=mail
BOT_PASSWORD=password